[submodule "Hashtable"]
	path = Hashtable
	url = https://github.com/KevinLeeLiang/LeetCode-Hashtable
[submodule "DepthFirstSearch"]
	path = DepthFirstSearch
	url = https://github.com/KevinLeeLiang/LeetCode_DepthFirstSearch
[submodule "BreadthFirstSearch"]
	path = BreadthFirstSearch
	url = https://github.com/KevinLeeLiang/LeetCode_BreadthFirstSearch
[submodule "DualPointer"]
	path = DualPointer
	url = git@github.com:KevinLeeLiang/LeetCode_DualPointer.git
[submodule "PriorityQueue"]
	path = PriorityQueue
	url = git@github.com:KevinLeeLiang/LeetCode_PriorityQueue.git
[submodule "BinaryTree"]
	path = BinaryTree
	url = git@github.com:KevinLeeLiang/LeetCode_BinaryTree.git
[submodule "Stack"]
	path = Stack
	url = git@github.com:KevinLeeLiang/LeetCode_Stack.git
[submodule "SlidingWindow"]
	path = SlidingWindow
	url = git@github.com:KevinLeeLiang/LeetCode_SlidingWindow.git
[submodule "BinarySearch"]
	path = BinarySearch
	url = git@github.com:KevinLeeLiang/LeetCode_BinarySearch.git
[submodule "Tree"]
	path = Tree
	url = git@github.com:KevinLeeLiang/LeetCode_Tree.git
[submodule "LinkedList"]
	path = LinkedList
	url = git@github.com:KevinLeeLiang/LeetCode_LinkedList.git
