[submodule "Hashtable"]
	path = Hashtable
	url = https://github.com/KevinLeeLiang/LeetCode-Hashtable
[submodule "DepthFirstSearch"]
	path = DepthFirstSearch
	url = https://github.com/KevinLeeLiang/LeetCode_DepthFirstSearch
[submodule "BreadthFirstSearch"]
	path = BreadthFirstSearch
	url = https://github.com/KevinLeeLiang/LeetCode_BreadthFirstSearch
[submodule "DualPointer"]
	path = DualPointer
	url = git@github.com:KevinLeeLiang/LeetCode_DualPointer.git
[submodule "PriorityQueue"]
	path = PriorityQueue
	url = git@github.com:KevinLeeLiang/LeetCode_PriorityQueue.git
